@font-face {
  font-family: "TTNorms";
  src: url("../fonts/TTNormsBold/TTNorms-Bold.ttf") format('truetype'),url(../fonts/TTNormsBold/TTNorms-Bold.woff);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "TTNorms";
  src: url("../fonts/TTNormsRegular/TTNorms-Regular.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
